<h1>Task en cours : <%=@task.title%></h1>
<p>Details : <%=@task.details %></p>
<p>Réalisée ? <%=@task.completed %></p>

<%= link_to "Editer cette task", edit_task_path(@task), class: "btn btn-primary" %>
<%= link_to "Retour à l'ensemble des tâches", tasks_path(@task), class: "btn btn-primary" %>
